.chat-main{
  background-color: #ffffff;
  width : calc(100vw - 300px);
}

.main-header{
  height: 100px;
  border-bottom: solid 1px #eeeeee;
  width : calc(100vw - 300px);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

  &__left-box{
    margin-top: 35px;
    &__current-group{
      color: #333333;
      font-size: 20px;
      margin-bottom: 15px;
    }
    ul{
      color: #999999;
      font-size: 12px;
      display: flex;
      li{

      }
    }
  }
  &__editbtn{
    margin-top: 28px;
    padding: 0 20px;
    height: 40px;
    border: solid 1px #38aef0;
    line-height: 40px;
    a{
      text-decoration-line: none;
      color: #38aef0;
      font-size: 16px;
    }
  }
}


.messages{
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 35px 40px;
  overflow: scroll;
}

.message{
  padding-bottom: 46px;
  &__upper-info{
    display: flex;
    &__talker{
      color: #333333;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    &__date{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  &__text{
    color: #434a54;
    font-size: 14px;
  }
}

.form{
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 40px;
  
  form{
    display: flex;
    .input-box{
      display: flex;
      width: 100%;
      position: relative;

      &__text{
        height: 50px;
        width: 100%;
        border-style: none;
        padding:0 40px 0 10px;
        
      }

      &__image{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;

        &__file{
          display: none;
        }
      }
    }
    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}
