.chat-side{
  background-color: #253141;
  width: 300px;
}

.side-header{
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  &__box {
    color: #ffffff;
    height: 20px;
    width: 260px;
    background-color: #253141;
    
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    ul{
      display: flex;
      li{
        margin-left: 5px;
        a{
          color: #ffffff;
        }
      }
    }

    &__menu{
      list-style: none;
      width: 60px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px;

  &__group{
    color: #ffffff;
    margin-bottom: 40px;
  
    &__group-name{
      font-size: 15px;
      margin-bottom: 5px;
      color: #ffffff;
    }

    &__latest-message{
      font-size: 11px;
      color: #ffffff;
    }
  }
}

a{
  text-decoration: none;
}